upstream ui {
  server ui:${FRONTEND_UI_PORT};
}

upstream fastify {
  server fastify:${BACKEND_FASTIFY_PORT};
}

server {
  listen ${REVERSE_PROXY_PORT};

  location / {
    proxy_pass http://ui;
  }

  location /api {
      rewrite /api/(.*) /$1 break;
      proxy_pass http://fastify;
  }
}
