---
import "styles/base.css";

import { ViewTransitions } from "astro:transitions";
import HeadFont from "components/head/Font.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <HeadFont />
    <title>Masters stats</title>
    <slot name="head" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
